
<div class="all">
    <div class="contenedor_principal">
        <div class="btn_botones">
            <button class="change_st button btn_botonF">Todos</button>
            <button class="change_st button btn_boton">Finalizados</button>
            <button class="change_st button btn_boton ">Pendiente</button>
            <button class="change_st btn_botonL">Por Realizar</button>
        </div>
    </div>
</div>

<!-- <div class="all">
    <div class="contenedor_principal">
        <div class="btn_botones">
            <div class="label_c">
                <label for="prueba" class="label">Todos</label>
                <label for="prueba2" class="label">Finalizados</label>
                <label for="prueba3" class="label">Pendiente</label>
                <label for="prueba4" class="label">Por Realizar</label>

            </div>
            
            <button id="prueba" class="change_st button btn_botonF">Todos</button>
            <button id="prueba2" class="change_st button btn_boton">Finalizados</button>
            <button id="prueba3" class="change_st button btn_boton ">Pendiente</button>
            <button id="prueba4" class="change_st btn_botonL">Por Realizar</button>
        </div>
    </div>
</div> -->
<script>
</script>